

.button {
    background-color: #2fa5db;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    font-size: small;
  }

.delete {
    background-color: rgb(226, 75, 75);  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    font-size: small;
    border-style: none;
  }

.button_menu {
    display: block;
    padding-top: 10px;
}

.hidden {
    display: none;
}

.tagslist {
    display: block;
    padding: 10px;
}

.tagslist > li {
    background-color: #2f68db;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    font-size: x-small;
    list-style: none;
    display: inline;

}

#timestamp {
    font-size: xx-small;
    color: lightslategray;
}