{% extends 'nav.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Post Details</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <br>
    <p id="timestamp">By {{user.first_name}} {{user.last_name}} on {{post.created_date}}</p>
    <section class="tagslist">
        Tags: {% for tag in post.tags %}
                <li>{{tag.name}}</li>
            {% endfor %}
    </section>

    <div class="button_menu">
        <a href="/posts/{{post.id}}/edit" class="button">Edit</a>
        <a href="/posts/{{post.id}}/delete" class="delete">Delete</a>
    </div>  
</body>
</html>
{% endblock %}